.so-widget-sow-headline-default-8df5b0aab1e4 .sow-headline-container h1.sow-headline {
  text-align: left;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-8df5b0aab1e4 .sow-headline-container h4.sow-sub-headline {
  text-align: left;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-8df5b0aab1e4 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.so-widget-sow-headline-default-8df5b0aab1e4 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 0px solid #eeeeee;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-8df5b0aab1e4 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-8df5b0aab1e4 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}