/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
Text Domain: teknow
*/

/*Add your own styles here:*/

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-size: 16px !important;
}

a {
  outline: 0 !important;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  left: 0;
  right: 0;
}


/* ========================header============================ */

.search-form {
  position: relative;
  width: 100%;
  height: 42px;
  border-radius: 6px;
  background: #f2f2f2;
  margin-top: 8px;
}

.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  background: none;
  color: #5a6674 !important;
  width: 100% !important;
  height: 24px !important;
  border: none !important;
  outline: none;
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 19px !important;
  min-height: 24px !important;
  padding-right: 150px !important;
}

.search-button {
  position: absolute;
  top: 14px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: none;
  outline: none !important;
  cursor: pointer !important;
  background-color: transparent !important;
}

.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  right: 4px;
  top: 4px;
  background: #003e7d !important;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  /* padding: 4px 10px;*/
  padding: 10px !important;
  cursor: pointer;
}

.search-option label {
  cursor: pointer;
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
}

.nav-link {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

nav {
  padding: 23px 0px !important;
}

.nav-item.dropdown.active a {
  color: #0582ff;
}

.border-b_t {
  border-bottom: 1px solid #c6cfd7 !important;
  border-top: 1px solid #c6cfd7 !important;
}

.right-menue li {
  display: inline-block;
  float: left;
}

.right-menue {
  list-style: none;
  margin: 0;
  display: inline-block;
  margin-top: 15px;
  float: right;
}

ul,
ol {
  margin: 0px 0 0px 0px;
}

ul li {
  list-style: none;
}

.mr_0_auto {
  margin: 0 auto;
}

.long-menue li {
  padding: 0px 23px;
  list-style: none;
}

.nav-item.dropdown.active div.dropdown-menu a {
  padding: 15px 10px;
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.nav-item.dropdown.active div.dropdown-menu a i {
  padding-right: 10px;
}

.nav-item.dropdown.active div.dropdown-menu {
  left: 30px;
  top: 40px;
  box-shadow: 0px 7px 9px rgb(215 215 215 / 29%);
  border: 0px;
  width: 100%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .right-menue {
    position: absolute;
    right: 0;
    margin-top: 22px;
  }
  .navbar-nav {
    margin-top: 15px;
  }
  .navbar-nav li {
    padding-left: 10px;
  }
  .nav-item.dropdown.active div.dropdown-menu {
    box-shadow: -2px 0px 9px rgb(215 215 215 / 29%);
  }
}

/* ========================header============================ */

/* =======================qui-sommes-nous=========================== */

.q_s_n_logotext {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #b7b7b7;
}

.q_s_n_sectiontwoheading h1 {
  font-family: "Roboto", arial;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 30px !important;
  line-height: 41px !important;
  color: #000000 !important;
  margin-bottom: 0px;
}

.q_s_n_sectiontwotext p {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #b7b7b7;
}

.q_s_n_sectionthreeheading h1 {
  font-family: "Roboto", arial;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 30px !important;
  line-height: 41px !important;
  color: #0582ff !important;
  margin-bottom: 0px;
}

.q_s_n_sectionthreetext p {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #b7b7b7;
}

.q_s_n_sectionfourheading h1 {
  font-family: "Roboto", arial;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 30px !important;
  line-height: 41px !important;
  color: #0582ff !important;
  margin-bottom: 0px;
}

.q_s_n_sectionfourtext p {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #b7b7b7;
}

.q_s_n_sectionfiveheading h1 {
  font-family: "Roboto", arial;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 30px !important;
  line-height: 41px;
  color: #000000 !important;
  margin-bottom: 0px;
}

.news-box {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 7.90514px;
}

.news-box .widget_sow-editor {
  padding: 0px 15px 0px 15px;
}

.news-box h3 {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  border-color: transparent;
  letter-spacing: 1px;
  padding-left: 0px;
  border-width: 0 0 0 0px;
}

.news-box p {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #b7b7b7;
}

.news-box img {
  border-radius: 7.90514px 7.90514px 0px 0px;
}

#primary {
  padding: 100px 0px !important;
}

/* =======================qui-sommes-nous=========================== */

/* ===========================search================================ */

.table thead th {
  vertical-align: middle !important;
}

.table thead th {
  border-bottom: 1px solid #dee2e6;
}

#pgc-418-5-0 {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0px 25px 25px 25px !important;
}

.tableone h1 {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.tableone h4 {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #b7b7b7;
}

#pgc-418-4-0 {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0px 25px 25px 25px !important;
}

th {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  padding: 18px 15px !important;
}

.dopdawnbtn-search {
  background: #f2f2f2;
  border-radius: 6px;
  color: #000;
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  padding: 13px 22px;
  border-color: transparent;
  padding-top: 16px;
}

.dopdawnbtntwo-search {
  color: #000;
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  padding: 13px 22px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 7.90514px;
}

.clearall {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #f46b1b;
}

.items-found {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.filter {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.check-box-section .form-check-label {
  font-family: "Roboto", arial;
  line-height: 19px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  margin-left: 11px;
}

.check-box-section .form-check {
  margin-right: 50px;
  margin-bottom: 30px;
}

.check-box-botton-section .check-box-botton-section-content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 33px;
  padding: 7px 15px;
  font-family: "Roboto", arial;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .clearall {
    text-align: left;
  }
}

/* ==============contact=================== */

/* Custom for styling */

.contact-box .form-group label {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold !important;
  color: #000 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding-bottom: 15px;
}

.contact-heading .sow-sub-headline {
  margin-top: 0px !important;
  font-family: "Roboto", arial;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-align: center !important;
  color: #b7b7b7 !important;
}

.contact-box input {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #000000 !important;
  mix-blend-mode: normal;
  opacity: 0.6;
  height: 50px;
  padding-left: 55px !important;
  border: 1.5px solid #0582ff !important;
}

.contact-box textarea {
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #000000 !important;
  mix-blend-mode: normal;
  opacity: 0.6;
  height: 297px;
  background: #f2f2f2;
  border-radius: 6px;
  border: 0px;
  padding: 20px;
}

.contact-input {
  position: relative;
}

.contact-input-icon {
  position: absolute;
  top: 1px;
  left: 1px;
  background: #fff;
  padding: 11px 19px;
  border-radius: 5px;
}

.submit-contact-btn a {
  background: #003e7d !important;
  border-radius: 6px !important;
  border: 0px !important;
  padding: 15px 52px !important;
  font-family: "Roboto", arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px !important;
  line-height: 16px;
  text-align: center;
  color: #ffffff !important;
}

.contact-heading h1 {
  font-family: "Roboto", arial;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 40px !important;
  line-height: 55px !important;
  text-align: center;
  color: #000000 !important;
}

/* search page starts */

.search-page-body ul,
.search-page-body ul li {
  list-style: none !important;
}

.search-page-body ul.document-type-tabs {
  border-bottom: 1px solid #c0c0c0;
}

.search-page-body .flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.search-page-body ul.document-type-tabs li a {
  position: relative;
  font-weight: 400 !important;
  color: #404040 !important;
}

.search-page-body ul.document-type-tabs li a:hover {
  color: #404040 !important;
}

.search-page-body ul.document-type-tabs li a.active {
  color: #0582ff !important;
  background-color: #ffffff !important;
}

.search-page-body ul.document-type-tabs li a:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 123, 255, 0);
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease;
}

.search-page-body ul.document-type-tabs li a.active:after {
  background-color: rgba(0, 123, 255, 1);
}

.search-page-body .document-type-panels .document-type-panel {
  display: none;
}

.search-page-body .document-type-panels .document-type-panel.active {
  display: block;
}

.search-page-body .document {
  border-radius: 10px;
  overflow: hidden;
}

.search-page-body .document .card-body {
  display: grid;
  grid-template-columns: 1fr 250px;
  align-items: stretch;
  justify-content: flex-start;
}

.search-page-body .document .card-body p.card-text {
  height: 100px;
  overflow: hidden;
  display: block;
}

.search-page-body .document .card-footer {
  background-color: #ffffff;
  border: 0px;
}

.search-page-body .document .card-footer span {
  max-width: 150px;
}

.search-page-body .document .card-footer a {
  color: rgba(0, 123, 255, 1);
}

/* ======================================= */

.search-2-title {
  background: #fafafa;
  padding: 40px 0px;
}

.search-2-box li {
  list-style: none;
  margin-right: 0.8em;
}

.tabbox-content h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #003e7d;
}

.tabbox-content .date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #41505d;
  padding-bottom: 18px;
  margin: 0;
}

.tabbox-content .catagory {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 2px;
}

.tabbox-content .content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #41505d;
}

section.search-2-box li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #41505d !important;
  padding: 0.5rem 1rem;
}

.search-2-box-content {
  border-bottom: 1px solid #c0c0c0;
  margin-top: 25px;
  padding-bottom: 25px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f46b1b;
  background-color: #fff;
  border-color: #dee2e600 #dee2e600 #F46B1B#dee2e600 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef00 #e9ecef00 #f46b1b !important;
}

section.search-2-box {
  padding: 60px 0px;
}

.search-2-title-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #41505d;
  margin-bottom: 27px;
}

.search-2-result {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 21px !important;
  color: #41505d;
}

.search-inpute {
  border-bottom: 1px solid #41505d !important;
}

.search-group-icon {
  cursor: pointer !important;
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 14px;
  color: #f46b1b;
}

.search-group {
  position: relative;
}

input {
  outline: -webkit-focus-ring-color auto 0px;
}

.short-by {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 21px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #41505d;
  padding-top: 12px !important;
}

.short-by-dropdawn select {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #41505d;
  height: calc(39px + 2px) !important;
}

.rightside-box-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-feature-settings: "cpsp" on;
  color: #41505d;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 8px;
  cursor: pointer;
}

.rightside-box-content input[type="checkbox"] {
  margin: 0px 10px 0 0 !important;
}

.rightside-box-content label.form-check-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #41505d;
  padding-left: 30px;
}

.btn-applay {
  background: #003e7d;
  border-radius: 100px;
  padding: 8px 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-cler {
  border: 1px solid #003e7d;
  padding: 8px 14px;
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pagination-box li {
  list-style: none;
  color: #003e7d;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  line-height: 40px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center !important;
  background: #f8f8f8;
  display: inline-block;
  border: 1px solid #e7e7e7;
}

.pagination-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: rgba(65, 80, 93, 0.7);
}

/*New search page with filters*/

#myTab li {
}

/*css for search icon making as pointer**/

/* .search-group-icon i.fa.fa-search {
    cursor: pointer;
} */

/*mobile version search page*/

@media screen and (max-width: 768px) {
  .row-reverse {
    flex-direction: column-reverse;
  }
  .mob-filter-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-feature-settings: "cpsp" on;
    color: #ffffff;
  }
  .mob-filter {
    background: #003e7d;
    color: #fff;
    padding: 18px 0px;
    margin-bottom: 30px;
  }
  .search-2-title-title {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .mob-filter {
    display: none;
  }
}

label.icon-minus-expanded:after {
  content: "-";
}

label.icon-plus-expanded:after {
  content: "+";
}

label.filter-expandable-label.haschild:after {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
}

li.p-0.filter_exapandable label {
  position: relative;
  width: calc(100% - 42px);
}

.collapsed-closed {
  display: none;
}

.collapsed-opened {
  display: block;
}

@media screen and (max-width: 992px) {
  .filter--wrapper,
  .filter--footer {
    display: none;
  }
}

.filter--wrapper input[type="checkbox"] {
  margin: 5px 10px 0 0;
  vertical-align: top;
}

/*mobile version search page end */

/****css for tag list****/

.list-padding {
  padding-left: 70px !important;
}

.tags-font {
  font-size: 14px;
}

/********css for adding pagination on news page************/

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: #fff;
  text-decoration: none;
}

.navigation li {
  display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: #6fb7e9;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
  background-color: #3c8dc5;
}

.container {
  padding: 0px 50px;
}

.container:after {
  content: none !important;
}

/*search page*/

#top.page-template-search input[name="search-input"] {
  margin-bottom: 0px;
  border: none;
  background: transparent;
}

#top.page-template-search input[name="search-input"]:focus {
  box-shadow: none;
}

#top.page-template-search select[name="sort_by"] {
  background: rgba(198, 207, 215, 0.2);
  border: none;
  margin-bottom: 0px;
  padding: 0.375rem 0.75rem;
  color: #495057;
  cursor: pointer;
  appearance: menulist;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.page-template-search ul.document-type-tabs li {
  margin-left: 5%;
}

#top.page-template-search .filter--wrapper label {
  font-size: 14px;
  font-weight: normal;
  color: #003e7d;
}

#top.page-template-search .filter--wrapper label:after {
  font-size: 16px;
}

.page-template-search .filter--wrapper .filter_exapandable {
  margin-left: 5%;
}

#top.page-template-search input[type="checkbox"] {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin: -3px 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.05s border-color ease-in-out;
  -moz-transition: 0.05s border-color ease-in-out;
  -ms-transition: 0.05s border-color ease-in-out;
  -o-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
}

.page-template-search .panel-footer ul.pages li {
  margin-left: 5%;
}

.page-template-search .search--filters .filter--footer button.filter--btn {
  font: 400 13.3333px Arial;
}

@media screen and (min-width: 1200px) {
  #top.page-template-search .container {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 767px) {
  .responsive #top.page-template-search #wrap_all .container {
    max-width: 90%;
    width: 90%;
  }
}
/*menu */
#header_main #pm-login #menu-secondary-header-french {
  z-index: 110;
  position: relative;
}
#header_main #pm-login #menu-secondary-header-french li {
  float: left;
  position: relative;
  z-index: 20;
  line-height: 30px;
}
#header_main #pm-login ul#menu-secondary-header-french > li a {
  height: 84px;
  line-height: 84px;
  display: block;
}
#header_main #pm-login ul#menu-secondary-header-french .sub-menu li {
  border-radius: 0px;
  background-color: #ffffff;
}
#header_main #pm-login ul#menu-secondary-header-french .sub-menu li a {
  height: 20px;
  line-height: 20px;
}
#header_main #pm-login ul#menu-secondary-header-french .sub-menu {
  display: none;
  margin-left: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 208px;
  z-index: 2;
  padding: 0;
  /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);*/
  margin-top: -2px;
}

/*Footer*/

#footer .pm-footersocial {
  display: flex;
  justify-content: center;
}

#footer .pm-footersocial a {
  margin: 0 10px;
}

#footer .pm-footersocial a img {
  filter: saturate(0) brightness(0);
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

#footer .pm-footersocial a:hover img {
  filter: saturate(0.8);
  opacity: 1;
}

#footer .first .widget_media_image {
  margin-bottom: 0px;
  text-align: center;
}

#footer .first .widget_custom_html {
  margin-top: 0;
}

/*landing page*/

#pm-sectorintro #pm-sectorimage .avia-image-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


#pm-sectorintro .toggle_icon,
#pm-sectorintro .vert_icon,
#pm-sectorintro .hor_icon {
  border-color: #f46b1b;
}

#pm-sectorintro h2.av-special-heading-tag {
  text-transform: capitalize;
}

#pm-sectorteam .avia-image-overlay-wrap {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) scale(0.7);
  overflow: hidden;
}

#pm-sectorteam .avia-image-overlay-wrap img {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) scale(1.4);
  filter: grayscale(1) brightness(1.1);
  transition: all 0.3s ease-in-out;
}

#pm-sectorteam .flex_column:hover img {
  filter: grayscale(0) brightness(1);
}

#pm-sectorteam h6 {
  font-size: 18px;
  color: #41505d;
}

#pm-sectorteam p.pm-jobtitle {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 11px;
  margin: 0;
}
#pm-services .av-masonry .av-inner-masonry-content,
#pm-sectorposts .av-masonry .av-inner-masonry-content {
  background: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    189deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

#pm-services .av-masonry .av-inner-masonry,
#pm-sectorposts .av-masonry .av-inner-masonry {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) !important;
  border-radius: 10px;
}

#pm-sectorposts .inner_sort_button > span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: white;
}

#top #header_meta {
  background: #0d315e !important;
  border: none !important;
}

.page-template-default .pp-multiple-authors-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  #pm-services .avia-image-container-inner {
    min-width: 100vw;
  }
  #pm-services .avia-image-container-inner img {
    width: 100%;
  }
}

#top #header_meta a,
#top #header_meta li,
#top #header_meta .phone-info {
  color: #ffffff;
}

#top #wrap_all .main_color h1,
#top #wrap_all .alternate_color h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: none;
}
#contacticon footer{
	padding:0px!important;
}
#footer h3.widgettitle {
    color: #003f7d;
    text-transform: none;
}
/*header*/

@media screen and (min-width: 768px) {
  #pm-services .avia-image-container {
    min-width: 100vw !important;
    margin-top: -50px;
    right: 50px !important;
  }
  #header_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  #header_main #searchform {
    flex-basis: 30%;
    order: 2;
    position: relative;
  }
  #header_main .av-logo-container {
    flex-basis: 25%;
    order: 1;
    margin-right: 0;
  }
  #header_main #pm-login {
    flex-basis: 20%;
    order: 3;
    top: 10px;
    position: relative;
  }
  #header_main #pm-login .menu-secondary-header-french {
    margin-bottom: 20px;
  }
  #header_main #pm-login .menu-secondary-header-french li {
    display: inline;
  }
  #top #header_main input[type="submit"] {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-right: 5px;
  }
  #top #header_main input[type="text"] {
    border-radius: 100px;
    padding-left: 20px;
  }
  #header.av_header_transparency #header_main #pm-login a {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 100;
    font-size: 11px;
    padding: 0 10px;
  }
  #header.av_header_transparency #header_main #pm-login a:hover {
    text-decoration: underline;
  }
  #top #searchform > div {
    max-width: 90%;
  }
  #header_main #header_main_alternate {
    order: 4;
    width: 10%;
    padding-right: 50px;
    margin: 0 auto;
    margin-left: 0;
  }
  #header_main .logo {
    margin-top: 5px;
  }
  #header_main #pm-login .menu-secondary-header-french-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  #header_main #pm-login .menu-secondary-header-french-container li a {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 100;
    font-size: 11px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  /* css for correcting layout of search form in mobile view */
  #top #searchform > div {
    position: static;
  }
  /* End */
  #top #header_meta {
    display: none !important;
  }
  #header_main #pm-login {
    display: none;
  }
  #menu-item-searchbox {
    position: absolute;
    top: 85px;
    min-width: 85vw;
    right: 0;
  }
  #menu-item-searchbox form > div {
    max-width: 100% !important;
    display: block !important;
    opacity: 1 !important;
  }
  #header_main #searchform {
    display: none;
  }
  #header_main #menu-item-searchbox #searchform {
    display: block;
  }
  #top #wrap_all .main_menu {
    padding: 0px !important;
  }
  .responsive #top #header .main_menu .social_bookmarks {
    display: none;
  }
  #header_main #menu-item-searchbox input[type="text"] {
    border-radius: 100px;
    padding-left: 20px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
    height: 41px;
  }
  #header_main #menu-item-searchbox input[type="submit"] {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-right: 5px;
  }
  #pm-services .avia-image-container {
    display: none !important;
  }
}

@media screen and (min-width: 1310px) {
  #pm-services .avia-image-container {
    min-width: 100vw !important;
    margin-top: -50px;
    right: calc((100vw - 1310px) / 2 + 50px) !important;
  }
}
